* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--melowpueple:#4C3575;
}

@font-face {
    font-family: alibaba;
    src: url(../fonts/alibaba-regular.woff2-5d2979c4.woff2);
}
@font-face {
    font-family: alibababold;
    src: url(../fonts/alibaba-bold.woff2-bbb24413.woff2);
}
.container{
    width: 920px;
    margin: 0 auto;
}
.container::after{
    content: "";
    display: block;
    clear: both;
}
.w-50 {
    width: 50%;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.w-33{
    width: 33.33%;
}
.w-25{
    width: 25%;
}
.alibaba{
    font-family: alibaba , sans serif ;
}
.alibababold{
    font-family: alibababold , sans serif ;
}
.rtl {
    direction: rtl;
}
.wht {
    color: #ffffff;
}
.prp {
    color: purple; 
}
.blu{
    color: darkturquoise;
}

.btn {
    background-color: purple;
    color: #ffffff;
    padding: 8px 16px;
    font-size: 1.2rem;
    direction: rtl;
    outline: none;
    border: none;
    border-radius: 8px;
    font-family: alibaba;
    cursor: pointer;
    transition: 0.3s ;
}
.btn:hover{
    background-color: #ffffff;
    color: purple;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}



/* HEADER CSS CODES */
        header {
            background: linear-gradient(to bottom , rgb(206, 155, 243) 0%, rgb(142, 229, 247) 90%);
        }
.navbar {
    padding: 30px 0;
}
.rightnav ul {
    list-style-type: none;
}
.rightnav ul li {
    float: right;
    padding: 8px 14px 0;
}
.rightnav ul li a {
    font-family: alibababold , serif;
    text-decoration: none;
    color: purple;
}
.rightnav ul li :hover {
    transition: 0.3s ;
    color: #ffffff;
}
.leftnav img {
    float: left;
    width: 30%;
}
.content {
    padding: 110px 0;
}
.content::after {
    display: block;
    content: "";
    clear: both;
}
.rightcontent{
    padding-left: 30px;
}
.rightcontent img {
    width: 100%;
}
.leftcontent {
    padding: 70px 50px 0 0;
}
.leftcontent h1 {
    color: #5b4b8a;
    font-size: 2.2rem;
}
.leftcontent p {
    color: rgba(128, 0, 128, 0.589);
    font-size: 1.1rem;
    padding-bottom: 30px;
}

/* floating icons in header css codes  */
.floating-icons{
    position: relative;
}
.floating-icons img {
    width: 40px;
    position: absolute;
}
#ico4{
    top: 20px;
    left: 20px;
    animation: iconic 1s 0.2s infinite ease-in-out alternate-reverse;
    animation-fill-mode: backwards;
}
#ico2{
    top: 290px;
    left: 90px;
    animation: iconic 1.5s 0.4s infinite ease-in-out alternate-reverse;
    animation-fill-mode: backwards;
}
#ico3{
    top: 120px;
    left: 545px;
    animation: iconic 1s 0.6s infinite ease-in-out alternate-reverse;
    animation-fill-mode: backwards;
}
#ico1{
    top: 10px;
    left: 950px;
    animation: iconic 1s 0.8s infinite ease-in-out alternate-reverse;
    animation-fill-mode: backwards;
}
#ico5{
    top: 400px;
    left: 850px;
    animation: iconic 1s 1s infinite ease-in-out alternate-reverse;
    animation-fill-mode: backwards;
}
#ico5{
    top: 400px;
    left: 850px;
    animation: iconic 2s 1s infinite ease-in-out alternate-reverse;
    animation-fill-mode: backwards;
}
#ico6{
    left: 410px;
    animation: iconic 1s 1s infinite ease-in-out alternate-reverse;
    animation-fill-mode: backwards;
}
#ico7{

    top: 375px;
        animation: iconic 1.5s 1s infinite ease-in-out alternate-reverse;
    animation-fill-mode: backwards;
}

@keyframes iconic {
    from{
        transform: translatex(0);
    }
    to{
        transform: translatex(24px);
    }
}

/* SECTION 1 CSS CODES  */
#section-one {
    background: linear-gradient(to top , rgb(186, 190, 245) 50%  ,rgb(142, 229, 247) 90% );
}
#section-one h2 {
    padding: 50px 0 40px;
    text-align: center;
    color: #5B4B8A;
}
#section-one i {
    background-color: #5b4b8a4b;
    border: none;
    outline: none;
    border-radius:10px;
    padding: 8px;
    font-size: 3rem;
}
#section-one h3 {
    padding: 10px 0;
    color: #7858A6;
}
#section-one p {
    padding: 6px;
    font-size: 0.8rem;
    color: var(--melowpueple);
}
.sec-1-left , .sec-1-center , .sec-1-right{
    text-align: center;
    font-family: alibaba;
    padding: 30px 0 60px;
}

/* SECTION TWO CSS CODES  */
#section-two{
    background: linear-gradient(to top ,  #ffffff 0%, rgb(186, 190, 245) 50%);
}
.st-content-left img{
    width: 100%;
}
.st-content-right {
    padding: 120px 20px;
}
.st-content-right h2 {
    font-size: 2rem;
}
.st-content-right i {
    background-color: #5b4b8a4b;
    border: none;
    outline: none;
    border-radius:10px;
    padding: 8px;
    font-size: 3rem;
}
.st-content-right a {
    text-decoration: none;
    color:  red;
}
.st-content-right a i {
    font-size: 1rem !important;
    background-color: transparent;
}
.st-content-right a:hover{
    color: var(--melowpueple);
    font-size: 1.1rem;
    transition: 0.4s 0.2s;
}

/* .SECTION THREE CSS CODES  */

#section-three {
    background: linear-gradient(to top ,rgb(142, 229, 247) 10%  , #ffffff 55%);
}

.cards {
    padding: 50px 0 100px ;
}
.cards::after {
    content: "";
    display: block;
    clear: both;
}
.cards h1 {
    text-align: center;
    font-size: 2rem;
    padding: 30px 0;
}
.card {
    padding: 0px 12px;
}
.card img {
    border-radius: 20px;
    width: 100%;
    opacity: 88%;
}
.card:hover img{
    opacity: 100%;
}

.cards h2 {
    font-size: 1rem;
    text-align: center;
    color: #5b4b8ab9;
    padding: 8px 0;
}

/* SECTION FOUR CSS CODES  */

#section-four {
    background: linear-gradient(to top ,#ffffff 35% ,rgb(142, 229, 247) 75%   );
}
.sf-content {
    padding: 50px 0 60px;
}
.sf-content::after {
    content: "";
    display: block;
    clear: both;
}
.sf-content h2 {
    font-size: 2.2rem;
    text-align: center;
    color: #5b4b8a;
}
.sf-cont-slide {
    cursor:grab ;
    padding: 80px 10px;
    text-align:center;
}
.sf-cont-slide i {
    background-color: #5b4b8a4b;
    border: none;
    outline: none;
    border-radius:10px;
    padding: 8px;
    font-size: 3rem;
}
.sf-cont-slide p {
    color: #5b4b8ab4;
}

/* SECTION FIVE CSS CODES  */
#section-five{
    background: linear-gradient(359deg, rgb(144, 181, 236) -17.7%, rgba(243, 243, 243, 0.274) 101.5%);
}
.sec-five-content {
    text-align: center;
    padding: 80px 0;
}
.sec-five-content h3 {
    font-size: 0.9rem;
    padding: 12px 0 40px;
}
.sec-five-content input {
    color: purple;
    background-color: #ffffff;
    padding: 12px 16px;
    direction: rtl;
    outline: none;
    border: none;
    border-radius: 8px;
    font-family: alibaba;
    font-size: 1rem;
    /* transition: 0.3s ; */
}
.section-five input :focus {
    border: 3px solid rgb(207, 15, 15);
}

